/* ------------------------

CSS TABLE OF CONTENTS 

# GLOBAL CSS
    # BODY
    # TYPOGRAPHY
    # LINKS

--------------------------- */
/* BODY */
body {
  font-family: "acumin-pro", Helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.4; }

/* HEADINGs */
h1, h2, h3 {
  font-family: "kepler-std", georgia, serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 6em;
  color: red;
  margin-bottom: 0; }

.subhead {
  font-family: "acumin-pro", Helvetica, arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1em; }
