/* ------------------------

CSS TABLE OF CONTENTS 

# GLOBAL CSS
    # BODY
    # TYPOGRAPHY
    # LINKS
    # BUTTONS

--------------------------- */
/* BODY */
body {
  font-family: "acumin-pro", Helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85); }

/* HEADINGs */
h1, h2, h3 {
  font-family: "kepler-std", georgia, serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

/* LINKS */
a {
  color: #069; }

a:hover {
  color: #035; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin: 3em 0; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 6em;
  color: #ff9900;
  margin-bottom: 0; }

.subhead {
  font-family: "acumin-pro", Helvetica, arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 1em; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  font-family: "acumin-pro", Helvetica, arial, sans-serif;
  line-height: 1;
  background-color: #069;
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
  margin: .5em;
  border-radius: 2em;
  border: 1px solid #069;
  cursor: pointer; }
  button:hover,
  .button:hover {
    background-color: #035;
    color: #fff;
    border-color: #035; }
  button.alt,
  .button.alt {
    color: #035;
    background-color: #fff; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #035;
      color: #fff;
      border-color: #035; }

/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1050px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1050px; } }
