// VARIABLES
$body-fontfamily: 'acumin-pro', Helvetica, arial, sans-serif;
$heading-fontfamily: 'kepler-std', georgia, serif;

$color-accent: red;
$color-midgrey: rgba(0,0,0,.5);

// IMPORT PARTIALS
@import 'partials/toc';
@import 'partials/typography';
  
